@import url("https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap");
.todo-box {
  width: 500px;
  height: 50vh;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.paddingY {
  padding: 100px 0 !important;
}

.wp-90 {
  width: 90% !important;
}

.cursor-pointer {
  cursor: pointer;
}

.common-box-shadow {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.transition {
  transition: all 0.3s;
}

table {
  border-collapse: separate !important;
  border-spacing: 0px 15px !important;
}

.add-button:hover {
  color: black !important;
  transform: rotate(90deg);
}

.ff-sorts {
  font-family: "Sorts Mill Goudy", serif !important;
}

.fs-300 {
  font-size: 220px !important;
}

.lh-1 {
  line-height: 1 !important;
}

.w-fit {
  width: fit-content !important;
}

/* .text-hover-animation-effect {
  transition: transform 1s ease !important;
  color: #ffffff !important;
  fill: #ffffff !important;
}

.text-hover-animation-effect:hover {
  transform: scale(0.9) !important;
}

.text-hover-animation-effect .outer {
  transition: transform 1s ease !important;
  transform: translateY(100%) !important;
}

.text-hover-animation-effect .inner {
  display: inline-block !important;
  transition: transform 1s ease !important;
  transform: translateY(-100%) !important;
  color: #cb9274 !important;
  fill: #cb9274 !important;
}

.text-hover-animation-effect:hover .inner,
.text-hover-animation-effect:hover .outer {
  transform: none !important;
} */

/* .text-hover-animation-effect .outer {
  transition: top 1s ease !important;
} */

/* .text-hover-animation-effect .inner {
  top: 10% !important;
  transition: top 1s ease !important;
} */

/* .text-hover-animation-effect:hover .outer {
  top: 0 !important;
} */

.fill-text-hover-parent .fill-text-hover {
  position: relative;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  transition: transform 1s ease;
  color: #cb9274;
}

.fill-text-hover-parent:hover .fill-text-hover {
  transform: scale(0.9);
}

.fill-text-hover-parent .fill-text-hover:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #f6f4f2;
  transition: height 1s ease;
  overflow: hidden;
}

.fill-text-hover-parent .fill-text-hover:hover:before {
  height: 0%;
}
